body {
}

.wrapper {
    width: 1778px;
    margin: 0 auto;
    border: 4px solid #100f0f;
}
.header {
    width: 1778px;
    border-bottom: 2px solid #100f0f;
    font-size: 27px;
    font-family: 'SpaceMono-Italic', monospace;
}

@font-face {
    font-family: 'SpaceMono-Italic';
    src: url('../Fonts/SpaceMono-Italic.ttf') format('truetype');
}